<div class="container">
    <header>
        <h3>Messages</h3>
    </header>
     <!--<script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA36zbRCGGdtIVmIyGtWZKNUAghZPtMRWc"></script>-->

    <div class="row">
        <div class="span3">
           Name:
            <br />
            <input ng-model="message.name" type="text" placeholder="Name" />
        </div>
        <div class="span3">
            Address:
            <br />
            <input data-ng-model="message.address" type="text" placeholder="Address" />
        </div>
        <div class="span3">
            Duration:
            <br />
            <input ng-model="message.duration" type="number" placeholder="Duration" />
        </div>
        <div class="span3">
            Screen:
            <br />
            <label> {{message.screen}}</label>
        </div>
        <br />
        <br />
        <br />
        <div class="span3">
            Texts:
            <br />
            <input ng-model="message.texts[0]" type="text" placeholder="Text1" />
            <input ng-model="message.texts[1]" type="text" placeholder="Text2" />
            <input ng-model="message.texts[2]" type="text" placeholder="Text3" />
        </div>
        <div class="span3">
            Pictures:
            <br />
			<select id="imageSelect1" ng-model="message.pictures[0]">
			  <option ng-repeat="image in images" value="{{image}}">{{image}}</option>
			</select>
			<select id="imageSelect2" ng-model="message.pictures[1]">
			  <option ng-repeat="image in images" value="{{image}}">{{image}}</option>
			</select>
        </div>
        <div class="span3">
            Start Date:
            <br />
            <input ng-model="startDate" type="date" placeholder="Start Date" />
                    <br />
            End Date:
            <br />
            <input ng-model="endDate" type="date" placeholder=" End Date" />
        </div>
        <div class="span3">
            Template:
            <br />
			<select  id="templateSelect1" ng-model="message.template">
			  <option ng-repeat="template in templates" value="{{template}}">{{template}}</option>
			</select>
           
        </div>
        <div class="span12">
            <br />
            <button id="submitCustomer" class="btn btn-primary" type="button"
                    ng-disabled="!message.name || !message.address || !message.duration || !startDate||
                    !endDate || !message.template"
                    ng-click="updateMessage()">Update Message</button>
        </div>
    </div>

    <div id="MapCanvas" style="width:300px; height:300px"></div>
</div>
