<div class="container">
    <header>
        <h3>Messages</h3>
    </header>

    <div class="row">
        <div class="span3">
            Name:
            <br />
            <input ng-model="newMessage.name" type="text" placeholder="Name" />
        </div>
        <div class="span3">
            Address:
            <br />
            <input data-ng-model="newMessage.address" type="text" placeholder="Address" />
        </div>
        <div class="span3">
            Duration:
            <br />
            <input ng-model="newMessage.duration" type="number" placeholder="Duration" />
        </div>
        <div class="span3">
            Screen:
            <br />
            <input ng-model="newMessage.screen" type="number" placeholder="Screen" />
        </div>
        <div class="span3">
            Texts:
            <br />
            <input ng-model="newMessage.text1" type="text" placeholder="Text1" />
            <input ng-model="newMessage.text2" type="text" placeholder="Text2" />
            <input ng-model="newMessage.text3" type="text" placeholder="Text3" />
        </div>
        <div class="span3">
            Pictures:
            <br />
            <select id="imageSelect1" ng-model="newMessage.image1">
                <option ng-repeat="image in images" value="{{image}}">{{image}}</option>
            </select>
            <select id="imageSelect2" ng-model="newMessage.image2">
                <option ng-repeat="image in images" value="{{image}}">{{image}}</option>
            </select>
        </div>
        <div class="span3">
            Start Date:
            <br />
            <input ng-model="newMessage.startDate" type="date" placeholder="Start Date" />
            <br />
            End Date:
            <br />
            <input ng-model="newMessage.endDate" type="date" placeholder=" End Date" />
        </div>
        <div class="span3">
            Template:
            <br />
            <select  id="templateSelect1" ng-model="newMessage.template">
                <option ng-repeat="template in templates" value="{{template}}">{{template}}</option>
            </select>

        </div>
        <div class="span12">
            <br />
            <button id="submitCustomer" class="btn btn-primary" type="button"
                    ng-disabled="!newMessage.name || !newMessage.address || !newMessage.duration|| !newMessage.screen || !newMessage.startDate||
                    !newMessage.endDate || !newMessage.template"
                    ng-click="insertMessage()">Add Message</button>
        </div>


    </div>

    <br /><br />
    <h5> Filters:</h5>
    Screen id: <input ng-model="filterScreenId">
    <br />
    Name: <input ng-model="filterName">
    <br /><br />
    <div>
        <div class="row">
            <div class="span3 message" ng-repeat="message in messages | filter: { screen: filterScreenId, name: filterName } | orderBy:'name'">
                <button class="btn close messageInHeader" ng-click="deleteMessage(message['id'])">&times;</button>
                <a href="#/messages/{{message.id}}" class="btn-link close messageInHeader">&#9998;</a>
                <!--<button class="btn edit messageEdit" ng-click="editMessage(message['id'])">&#9998;</button>-->
                <div class="messageHeader">{{message.name}}</div>
                <div class="messageBody">Id: {{message.id}}</div>
                <div class="messageBody">Template: {{message.template}}</div>
                <div class="messageBody">Screen: {{message.screen}}</div>
                <a href="#/messages/{{message.id}}" class="messageBody btn-link">Edit</a>
            </div>
        </div>
    </div>

    <pre id="default-spacing">{{messages | json}}</pre>

</div>
