h2 {
    text-shadow: 2px 2px #FF0000;
    font-family: myFirstFont;
}
.resize-div{
    width: 250px;
    height: 65px;
    background: green;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
    display: inline-block;
    vertical-align : top;
    border-radius: 25px;
}
.resize-div:hover{
    width: 400px;
}

@font-face {
    font-family: myFirstFont;
    src: url(Sansation_Light.woff);
}

.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
